<table>
    <thead>
        <tr>
            <th colspan="2"><h1><%= @cat.name %></h1></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Name</td><td>Age(days)</td><td>Color</td><td>Sex</td><td>Description</td>
        </tr>

          
          <td><%= @cat.name %></a></td>
          <td><%= @cat.age %></td>
          <td><%= @cat.color %></td>
          <td><%= @cat.sex %></td>
          <td><%= @cat.description %></td>


    </tbody>
</table>